{% comment %} {% extends './base.html' %} {% endcomment %}
{% load static %}
  <div class="container">
    <div class="row">
      {% for product in object_list %}
      <div class="col-md-4 col-sm-12 col-lg-3 m-1">
              <div class="card" style='width:100%; height:300px;'>
                <img src="{{ product.mainimage }}" style="width:100%;" class="card-img-top" alt="{{ product.name }}">
                      <div class="card-body">
                        <h5 class="card-title"> {{ product.name }}</h5>
                        <p class="card-text">{{ product.preview_text }}</p>
                      </div>
                  <div class='card-footer text-center'>
                  <button type="submit" class="btn btn-success btn-lg">Redirect</button>
                    <a href="cart/{{ product.slug }}" class="btn btn-success">Add to Cart</a>
                    <a href="remove/{{ product.slug }}" class="btn btn-danger">Remove from Cart</a>
                  </div>
               </div>
        </div>
      {% endfor %}
  </div>
  </div>